# custom nftables ruleset
# This file is included from /etc/firewall-conf/open-out.conf
# and contains custom firewall rules for inbound traffic
# rules can be added manually or by gui tools
# Maintained by Project Trident: https://project-trident.org

# uncomment to allow inbound ssh connections
#add rule inet filter input tcp dport 22 accept

# uncomment to allow inbound syncthing connections
#add rule inet filter input tcp dport 22000 accept
#add rule inet filter input udp dport 21027 accept
