[SddmGreeterTheme]
Name=Trident
Description=Trident Theme
Author=Ken Moore (Project Trident)
Copyright=(c) 2020, Ken Moore
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=ken@project-trident.org
Theme-Id=trident
Theme-API=2.0
